body{
    width: 100%;
    height: 700px;
}
nav{
    width:100%;
    height:100px;
    background-color:white;
    align-items: center;
    justify-content:space-around;
   font-size:x-large;
    display: flex;
}
nav.a{
color:black;
}

.clash{
  height: 700px;
  width: 100%;
  background-color: white;
  display: flex;
  margin-top: 50px;
  padding-top: 50px;
  
}
.clash div{
    background-color: white;
    width: 500px;
    height: 400px;
    margin: 10px;
    
}
img{
    height:300px;
    width: 300px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero{
    background-color: #f8f8f8;
    overflow: hidden;

}
.heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;

}
.hero-content{
   flex: 1;
   width: 600px;
   margin: 0px 25px;
}
.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;

}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.cta-button{
    color: white;
    background-color: blue;
}
.ghk{
    width: 100%;
    height: 300px;
    background-color: black;
}
.ghk p{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


@media(max-width:700px){
    .ghk{
       flex-direction:row;
       margin-top:50px;
       width: 100%;
       height: 500px;

    }
}



@media(max-width:700px){
    nav{
    flex-direction: column;
       height: 50px;
       width: 100%;
       justify-content:space-around;
       margin-bottom: 150px;
    }

}


@media (max-width: 768px) {
    .clash {
        padding: 30px 5px; 
        flex-wrap: wrap;
        width: 300px;
        margin-bottom: 500px;
    }

    .clash div {
        width: 90%; 
        max-width: 500px; 
    }

    p {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .clash div {
        width: 100%; 
        margin: 5px 0; 
    }

    p {
        font-size: 20px; 
        
    }
}

@media (max-width: 768px) {
    .hero-content, .hero-image {
        flex-direction: vertical;
        max-width: 100%;
        margin: 0 10px;
    }

    .heading h1 {
        font-size: 2rem; 
    }

    .cta-button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}


@media (max-width: 480px) {
    .heading h1 {
        font-size: 1.5rem; 
    }

    .hero-content, .hero-image {
        margin: 0 5px;
    }

    .cta-button {
        padding: 8px 12px;
        font-size: 0.8rem;
    }
}
.container{
    flex-direction: column;
}
